extends ../home_base 
block content 
  .common-style(style='margin:auto;')
    a(href='/admin/manage-users') 
        .admin-nav.student-card.common-style(style='height:200px;width:200px;text-align:center;margin-right:100px;margin-top:30px;')
          h3(style='color:#4caf50;') Manage Users
          p(style='display:block;color:green;font-size:100px;margin-top:0;') →
    a(href='/admin/manage-institutes')
        .admin-nav.student-card.common-style(style='height:200px;width:200px;text-align:center;')
          h3(style='color:#4caf50;') Manage Institutes
          p(style='display:block;color:green;font-size:100px;margin-top:0;') →
          