extends ../home_base 
block content 
  div 
    h1(style='text-align:center;color:#4caf50;') Institute Management
    .common-style
      a(href="#spinner") 
        input(id="list-all-institutes" type="button", value="List All Institutes" style="width:200px;margin:50px;")
      | 
      a(href="#search-insti") 
        input(id="search-institutes" type="button", value="Search Insitute" style="width:200px;margin:50px;")
      br
      a(href="/admin/manage-institutes")
        input(type="button", value="Reset" style="width:80px;") 
    #spinner.common-style(style='display:none;')
      img(src="/img/spinner.gif", alt="loading")
    #list-all-insti(style="width:80%;margin:auto;display:none;")
      table 
        tr 
          th Actions
          th Institute 
          th Email
          th Phone
          th Address 
        tr 
          td
            .dropdown
              .common-style.student-card.action-list-all-insti(style='margin:0;padding:0;width:20px;height:40px;text-align:center;')
                h6(style='margin:0;') .
                h6(style='margin:0;') .
                h6(style='margin:0;') .
              div(style="display:none;" class="dropdown-content")
                a(href="#") View
                a(href="#") Edit
                a(href="#") Delete
          td ABC Institute 
          td abcinstite@gmail.com
          td 9876543210
          td Lorem Ipsum, Doler Sit Amet, 8788, JH
        tr 
          td
            .dropdown
              .common-style.student-card.action-list-all-insti(style='margin:0;padding:0;width:20px;height:40px;text-align:center;')
                h6(style='margin:0;') .
                h6(style='margin:0;') .
                h6(style='margin:0;') .
              div(style="display:none;" class="dropdown-content")
                a(href="#") View
                a(href="#") Edit
                a(href="#") Delete
          td ABC Institute 
          td abcinstite@gmail.com 
          td 9876543210
          td Lorem Ipsum, Doler Sit Amet, 8788, JH
        tr 
          td
            .dropdown
              .common-style.student-card.action-list-all-insti(style='margin:0;padding:0;width:20px;height:40px;text-align:center;')
                h6(style='margin:0;') .
                h6(style='margin:0;') .
                h6(style='margin:0;') .
              div(style="display:none;" class="dropdown-content")
                a(href="#") View
                a(href="#") Edit
                a(href="#") Delete
          td ABC Institute 
          td abcinstite@gmail.com
          td 9876543210
          td Lorem Ipsum, Doler Sit Amet, 8788, JH
        

    #search-insti.common-style(style="width:20%;margin:auto;display:none;")
      h2(style="color:green;text-decoration:underline;") Search Institute
      form
        input#inst-id(type="text" name="" placeholder="Institute Id")
        h3(style='margin:0;') Or 
        input#inst-name(type="text" name="" placeholder="Istitute Name")
        h3(style='margin:0;') Or 
        input#inst-dist(type="text" name="" placeholder="District")
        input#admin-insti-search(type="submit" value="Search" style="width:100px;")
    #adm-srch-inst-rslt(style="width:80%;margin: 50px auto;")

    