.header
    header
      ul
        li 
          .sidepanel#mySidepanel
            a.closebtn#close-btn ×
            a(href='/institute/dashboard') Home
            a(href='/institute/dashboard') Get Report
            a(href='/institute/add-students') Add Students
            a(href='#footer') Contact Us
            if(institute)
                a(href='institute-profile' class='institute-detail' id=`${institute._id}`)=`Welcome ${institute.name}`
                a(href='/logout') Log Out

          button#burger(class="openbtn" ) ☰

        li( style='float:right;margin-right:10px;margin-top:8px;') 
          img(src="/img/logo.PNG", alt="Logo" style='width:100px;height:45px;margin-top:3px;')
