extends ../_header
block header_content 
    header
      ul
        li
          a.active(href='/institute/dashboard') Home
        li
          a(href='/institute/dashboard') Get Report
        li
          a(href='/institute/add-students') Add Students
        li
          a(href='#footer') Contact Us
        li(style='float:right;')
          a(href='/logout') Log Out