extends _instituteBase
block content
    div(style="margin:30px;")
        #count-stats.common-style(style="margin:80px auto;width:400px;height:450px;")
            p=`A summary of ${institute.name}` 
            h5(style="color:purple;margin-bottom:20px;") Total Students 800 
            canvas(id='summary' ) 
        div(style="width:80%;margin:20px auto;text-align:center;")
            a(href="#canvas" style="green") Click here to view Class wise stats for this month
            #canvas(style="margin:100px auto;")
                div(style="")
                    canvas(id='insti-month-wise-chart' )
            input(type="button", style="width:200px;" value="export to excel")
