extends _instituteBase
block content
    div(style="margin:30px;")
        div 
            p(style="font-weight:bold;display:inline-block;margin-right:20px;margin-bottom:0;") Quick Links :
            a(href="/institute/search-students" style="margin-right:30px;margin-bottom:0;") Search Students
            a(href="#" style="margin-right:30px;margin-bottom:0;") View Payment Details
                //- input(type="button", value="Search Students" style="width:150px") 
            //- a(href="/institute/search" style="margin-right:100px;")
                input(type="button", value="Search Studets" style="width:150px") 
        #count-stats.common-style(style="margin:50px auto;width:400px;height:450px;")
            p=`A summary of ${institute.name}` 
            h5(style="color:purple;margin-bottom:20px;") Total Students 800 
            canvas(id='summary' ) 
        div(style="width:80%;margin:20px auto;text-align:center;")
            a(href="#canvas" style="green") Click here to view Class wise stats for this month
            #canvas(style="margin:100px auto;")
                div(style="")
                    canvas(id='insti-month-wise-chart' )
            input#exportXlsx(type="button", style="width:200px;" value="export to excel")
