extends _instituteBase
block content
    div
        div(style="width:80%;margin:20px auto;")
            .common-style 
                input(id='jan' type='button' value="JAN" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='fab' type='button' value="FEB" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='mar' type='button' value="MAR" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='apr' type='button' value="APR" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='may' type='button' value="MAY" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='jun' type='button' value="JUN" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='jul' type='button' value="JUL" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='aug' type='button' value="AUG" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='sep' type='button' value="SEP" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='oct' type='button' value="OCT" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='nov' type='button' value="NOV" style="width:50px;height:30px;padding:0;margin-right:20px;") 
                input(id='dec' type='button' value="DEC" style="width:50px;height:30px;padding:0;") 
            br
            canvas(id='insti-month-wise-chart' )