extends ./_instituteBase
block content
    .institute-login-div
        h2 Institute  Signup
        hr
        form
            //- label(for='email-or-mobile') Email or Mobile Number : 
            br
            input#radio-college.intitute-type(type='radio' name='institute' value='college')
            label(for='radio-user') College &nbsp &nbsp &nbsp
            //- br
            input#radio-coaching.intitute-type(type='radio' name='institute' value='coaching')
            label(for='radio-institute') Coaching &nbsp &nbsp &nbsp
            //- br 
            //-associate onchange handler in order to show list of classess/subjects/programs
            input#radio-school.intitute-type(type='radio' name='institute' value='school' checked)
            label(for='radio-institute') School
            br
            br
            input#full-name(type='text' placeholder='Full Name' required='true') 
            input#email(type='email' placeholder='Email' )
            input#phone-number(type='text' placeholder='Phone Number' maxlength='10' required='true' ) 
            input#alternate-phone-number(type='text' maxlength='10' placeholder='Alternate Phone Number' ) 
            input#user-password(type='password' placeholder='Password' required='true')
            input#confirm-password(type='password' placeholder='Retype Password to Confirm')
            input#address(type='text' maxlength='150' placeholder='Address' required='true' ) 
            input#address-district(type='text' maxlength='20' placeholder='District' required='true' )
            input#pincode(type='text' maxlength='6' placeholder='Pin Code' required='true') 
            input#address-state(type='text' maxlength='20' placeholder='State' required='true' )
            
            input#institute-signup(type='submit' value='Submit')

