extends _instituteBase
block content 
    .student-table
      .student-search(style='margin: 20px 0 20px 0; text-align: center;')
        h3 Search using only Registration Number or Using combination of Name or Class and Section.
        form
          input#regno(type='text' placeholder='Registration NUmber')
          p OR
          input#name(type='text' placeholder='Name')
          br
          br
          input#class(type='text' placeholder='Class (Example: I or II)')
          br
          br
          input#section(type='text' placeholder='Section (Example : A or B)')
          br
          br
          input#search-student(type='submit' value='Search', style='width: 100px;')
          | 
          a(href="/institute/dashboard") 
            input#reset(type='button' value='Reset' style='width:100px;')
      p#num-results
      div#result-table(style='display:none;')
      input#export(type='button' value='Download PDF' style='width:150px;display:none;')
    script(src='/js/bundle.js')