.footer#footer(style='')
    //- .left-panel(style='float:left;margin-left:50px;margin-top:100px;')
    //-     p Amit Shekhar
    //-     p Godda, jharkahnd
    .bottom-panel-1
        .social
            a(href="http://www.facebook.com" target='_blank' class="fa fa-facebook")
            |
            a(href="http://www.twitter.com" target='_blank' class="fa fa-twitter")
            | 
            a(href="http://www.google.com" target='_blank' class="fa fa-google")
            | 
            a(href="http://www.linkedin.com" target='_blank' class="fa fa-linkedin") 
            | 
            a(href="http://www.instagram.com" target='_blank' class="fa fa-instagram")
    .bottom-panel-2
        h6(style='color:white; margin:0 auto;') © Copyright, All rights reserved.
    //- .right-panel(style='float:right;margin-right:50px;margin-top:100px;')
    //-     p here will be something