.footer#footer(style="margin-top:50px;")
    .social-icons
        .social
            a(href="https://www.facebook.com/amit.shekhar.10/" target='_blank' class="fa fa-facebook")
            |
            a(href="https://twitter.com/amit__shekhar/" target='_blank' class="fa fa-twitter")
            | 
            a(href="mailto:shekhara128@gmail.com" class="fa fa-google")
            | 
            a(href="https://www.linkedin.com/in/amit-shekhar-as/" target='_blank' class="fa fa-linkedin") 
            | 
            a(href="http://www.instagram.com/shekhar__amit/" target='_blank' class="fa fa-instagram")

    //- .site-map-newsletter(style='text-align:center;')
        .sitemap 
            .column-1 
                ul(style='')
                    li(style='')
                        a(href="/") Home
                    li(style='')
                        a(href="/about") About  
        .newsletter


    //- .details-panel

        .address(style='text-align:left;')
            .map-icon(style='text-align:center;')
                img(src="/img/map.svg", alt="pinned lcation" style='width:30px;height:30px;')
            h5(style='color:white; margin:0 auto;') Locate Us : 
                a(href="https://maps.app.goo.gl/4DqvqENYGMndELkh6" target='_blank') Open Map
        .telephone
            .map-icon(style='text-align:center;')
                img(src="/img/telephone.png", alt="Telephone" style='width:30px;height:30px;')
            h5(style='color:white; margin:0 auto;')
                a(href="tel:+91-911-330-5605" style='color:white;text-decoration:none;') (+91) 911 330 5605 
            
    .bottom-panel-2
        h5(style='color:white; margin:0 auto;') © Copyright, All rights reserved.
    