.header
    if(user)
        section.welcome
        br
        h5(style='text-align:right;')
            | Welcome 
            | 
            em
            a(href='my-profile' class='user-detail' id=`${user._id}`)=user.name
            | &nbsp;|&nbsp;
            a(href='/logout') Log Out
    block header_content
    //- header
    //-   ul
    //-     li
    //-       a.active(href='/') Home
    //-     li
    //-       a(href='/dashboard') Pay Fees
    //-     li
    //-       a(href='/') Notification
    //-     li
    //-       a(href='#footer') Contact Us
