doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/style.css")
        link(rel="shortcut icon" type="image/png" href="/img/favicon.ico")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        title
            | #{title}
    body.main

        include _header
        
        block content

        include _footer
        script(src='/js/bundle.js')