extends base
block content

    br
    if(user)
        .main_div
            h2.main_page_heading Create your note
            form.form_note
                table
                    tr
                        td
                            textarea.text.todoitem(name=`${user.name}` id=`${user.email}` rows="8" cols="80" placeholder="Enter you items and click submit to save them")
                            br
                            input.submit_text.button(type="submit" name="" value="submit")
            br
            hr
            h3 OR
            table
                tr
                    td
                        a(href="/myNotes")
                            input.get_items.button(type="button" name="" value="view your submitted items")

    else
        .main_div
            h2.main_page_heading Create your note
            form.form_note--before_login
                table
                    tr
                        td
                            textarea.text(name='' id='unique' rows="18" cols="90" placeholder="Enter you items and click submit to save them")
                            br
                            br
                            br
                            input.submit_text.button(type="submit" name="" value="submit")