extends login_signup_base
block content
    .back_to_main
        a(href="/")= 'Back to main'
    #login_div
        form.login_form
            table
                tr
                    td
                        span#span_1 &nbsp &nbsp &nbspLogin to your Account
                        hr
                tr
                    td
                        input#login_email.signup_form(type="email" placeholder="Enter your Email")
                        br
                        br
                tr
                    td
                        input#login_password.signup_form(type="password" placeholder=" Enter your Password")
                        br
                        br
                tr
                    td
                        input.button.login(type="submit" name="" value="          Log In          ")
                tr
                    td
                        a(href="#") Forgot Password?
                        br
                        br
                        span Don't have an account?
                        br
                        br
                        input.button.signup_btn_homepage(type="button" name="" value="Create An Account")