doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="stylesheet" href="/css/userDashboard.css")
        link(rel="stylesheet" href="/css/checkout.css")
        link(rel="shortcut icon" type="image/png" href="/img/favicon.ico")
        title
            | #{title}
    body.main

        
        header
            ul
                li
                    a.active(href='/') Home
                li
                    a(href='/') Pay Fees
                li
                    a(href='/') Notification
                li
                    a(href='/') Contact Us
        div(id='redirect-to-main' style='text-align:center;margin-bottom:220px')
            h1 You have been logged out successfully!

        include _footer

        script(src='/js/bundle.js')
        
    

    