extends base
block content
    br
    .back_to_main
        a(href="/") Back to main
    #profile_div
        table.table(id=`${user._id}`)
            tr
                td
                    p.signup_form Your Name :
                td
                    input.signup_form.profile_name(type="text"  value=`${user.name}`)
            tr
                td
                    p.signup_form Your Email :
                td
                    input.signup_form.profile_email(type="text" value=`${user.email}`)
            tr
                td
                    input.button.profile_update(type="button" value="Update")