body {
  font-family: "Lato", sans-serif;
}

/* -----------------------Side Panel-----------------------*/

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(76, 175, 80);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: black;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(76, 175, 80);
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: black;
}
/* -----------------------------------------------------------------*/
.admin-nav:hover{
  background-color: lightgreen;
}

.action {
  width: 3px;
  height: 3px;
  background-color: black;
  margin: 6px 2px;
}

.action-list-all-insti:hover{
  cursor:pointer;
  background-color: lightgray;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a:hover {background-color: #ddd;}

.dropdown-content {
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}