block headerTag 
    header
            meta(charset="utf-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(name="google-signin-client_id" content="641266216984-lpktbhqid3cvtarigkfg2m5o1ev1vafk.apps.googleusercontent.com")
            script(src="https://apis.google.com/js/platform.js" async defer)
            link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
            link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css")
            link(rel="stylesheet" href="/css/navBar.css")
            link(rel="stylesheet" href="/css/mainStyle.css") 
            link(rel="stylesheet" href="/css/sidepanel.css")
            link(rel="stylesheet" href="/css/footer.css")
            link(rel="stylesheet" href="/css/style.css")
            link(rel="stylesheet" href="/css/userDashboard.css")
            link(rel="stylesheet" href="/css/paymentHistory.css")
            link(rel="stylesheet" href="/css/checkout.css")
            link(rel="stylesheet" href="/css/instituteDashboard.css")
            link(rel="shortcut icon" type="image/png" href="/img/favicon.ico")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
            title
                | #{title}