doctype html
html(lang="en" dir="ltr")
    include _headerTags
    body.main

        include _userHeader
        br
        block content

        include ../_footer
        
        script(src='/js/bundle.js')