extends ../home_base
block content
  #selected-students
    .student-card
      h3.student-name Amit
      h5.student-class V (B)
      br
      h5.std-paid=`Fees Paid Upto : JUL-2021`

  .common-style(style='width:300px;margin:auto;')
    h2(style='color:green;text-align:center;text-decoration:underline;') Step 1
    form(action='')
      select#institute(name='institute')
        option(value="") Choose an Institute 
        each i in institutes 
            option(value=`${i.id}`)=i.name
      br
      p
        | AND
      input#uid(type='text' placeholder='ADHAAR Number')
      br
      p
        | Or
      input#regNo(type='text' placeholder='Registration Number')
      r
      p
        | Or
      input#name(type="text" placeholder="Student's Name")
      br
      p
        | Or
      input#father(type='text' placeholder="Father's Name")
      input#mother(type='text' placeholder="Mother's Name")
      br 
      br
      input#searchStudent(type='submit' value='Search')
    p 
      input(type='button' id='addStudent-btn' value='Click Here')
      |  to add student after selecting/go back to previous page
    
  #returned-students
  #step3.common-style
    script(src='/js/bundle.js')
