doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/css/userDashboard.css")
    title Document
  body
    form(action='')
      input#regNo(type='text' placeholder='Registration Number')
      br
      p
        | Or
      input#father(type='text' placeholder="Father's Name")
      br
      p
        | Or
      input#mother(type='text' placeholder="Mother's Name")
      br
      br
      input#searchStudent(type='submit' value='Search')
    p 
      input(type='button' id='addStudent-btn' value='Click Here')
      |  to add student after selecting/go back to previous page
    
    #returned-students
    script(src='/js/bundle.js')
