extends ../home_base
block content
    .user-login-div
        h2 Student Login
        hr
        form
            //- label(for='email-or-mobile') Email or Mobile Number : 
            input#email-or-mobile(type='text' placeholder='Email or Mobile' )
            //- label(for='password') password : 
            //- input#user-password(type='password' placeholder='Password')
            div(style="width: 100%;padding: 12px 20px;margin: 4px 0;display: block;border: 1px solid #ccc;border-radius: 4px;box-sizing: border-box;padding-top: 6px;padding-bottom: 6px;border-bottom-width: 1px;")
                input#user-password( type="password" placeholder='Password' name="password" style="border:none transparent;width: 240px;padding-top: 6px;padding-bottom: 6px;padding-left: 0px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;outline:none;")
                i(class="bi bi-eye-slash" style="float:right;margin-top: 4px;" id="togglePassword")
            input#user-login(type='submit' value='Login')
            a.forgot-password(href="/reset-password") Forgot Password
            a.test-user-signup(href="/user-signup") Test User Signup 
            br
            br
            p If you just want to pay your fees, click here : 
            a(href='/')
                input#user-login-but(type='button' value='pay fees')
            p For institutes ( school / College/ Coaching ) Login here : 
            a(href='/institute-login/')
                input#institute-login-but(type='button' value='Institute Login')
    //- .login-div
    //-     p If you just want to pay your fees, click here : 
    //-     a(href='/')
    //-         input#user-login-but(type='Submit' value='pay fees')
    //-     p For institutes ( school / College/ Coaching ) Login here : 
    //-     a(href='/institute-login/')
    //-         input#institute-login-but(type='Submit' value='Institute Login')
