extends ../home_base
block content
    .user-login-div
        h2 Student Login
        hr
        form
            //- label(for='email-or-mobile') Email or Mobile Number : 
            input#email-or-mobile(type='text' placeholder='Email or Mobile' )
            //- label(for='password') password : 
            input#user-password(type='password' placeholder='Password')
            input#user-login(type='submit' value='Login')
            a.forgot-password(href="/reset-password") Forgot Password
            a.test-user-signup(href="/user-signup") Test User Signup 
            br
            br
            p If you just want to pay your fees, click here : 
            a(href='/')
                input#user-login-but(type='button' value='pay fees')
            p For institutes ( school / College/ Coaching ) Login here : 
            a(href='/institute-login/')
                input#institute-login-but(type='button' value='Institute Login')
    //- .login-div
    //-     p If you just want to pay your fees, click here : 
    //-     a(href='/')
    //-         input#user-login-but(type='Submit' value='pay fees')
    //-     p For institutes ( school / College/ Coaching ) Login here : 
    //-     a(href='/institute-login/')
    //-         input#institute-login-but(type='Submit' value='Institute Login')
